CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.deps/
.libs/
*build/
*.o
*.Po
*/cuSP/
*/CSR5/
build*/
.ipynb*
*__pycache__*/
*.err
*Plot_tries/
*cnpy/
*.exe
*.d
*_feature_extraction_plus_generator.zip
SpMV_collab/

benchmark_code/CPU/AMD/*.csv
benchmark_code/CPU/ARM/*.csv
benchmark_code/CPU/ARM/spmv_code_bench/merge/*.csv
benchmark_code/CPU/ARM/spmv_code_bench/*.csv

benchmark_code/CPU/AMD/*.out
benchmark_code/CPU/AMD/out_logs
benchmark_code/CPU/ARM/*.out
benchmark_code/CPU/ARM/out_logs
benchmark_code/CPU/ARM/spmv_code_bench/merge/*.out
benchmark_code/CPU/ARM/spmv_code_bench/*.out

benchmark_code/FPGA/HiSparse/
benchmark_code/FPGA/HPCG_FPGA
benchmark_code/FPGA/old_artificial_matrix_generation

benchmark_code/FPGA/spmv_code_bench/optima/optima_spmv/src2
benchmark_code/FPGA/spmv_code_bench/optima/optima_spmv_kernels/Hardware/build
*/binary_container_1.build/
*/package.build/
*/package/
*/.Xil/
*/.ipcache/
.Xil/
.ipcache/
*run_summary
*package_summary
*profile_summary.csv
power_profile_*.csv
*timeline_trace.csv
vitis_analyzer*
*.log
*.ltx
*.mdb
*.xclbin.info
*.xclbin.link_summary
*.xclbin.sh

benchmark_results/amd-epyc1/amd-epyc1_synthetic_t24_d.csv
benchmark_results/amd-epyc1/amd-epyc1_synthetic_t24_d_large-dataset.csv
benchmark_results/intel-gold2/intel-gold2_synthetic_t14_d.csv
benchmark_results/arm/arm_synthetic_t80_d.csv
benchmark_results/experimental/arm/arm_petama
benchmark_results/grace1-H100/grace1-H100_synthetic_d.csv
benchmark_results/grace1-arm/grace1-arm_synthetic_t72_d.csv
benchmark_results/amd-epyc7763/amd-epyc7763_synthetic_t64_d.csv
benchmark_results/amd-mi250/amd-mi250_synthetic_d.csv
benchmark_results/intel-sapphire/intel-sapphire_synthetic_t56_d.csv
*_BAD.csv
*_BAD_FEATURES.csv
*_modified_features.csv

matrix_generation_parameters/progress*
matrix_generation_parameters/*part*
matrix_generation_parameters/trash
matrix_generation_parameters/vulcanP100 
matrix_generation_parameters/synthetic_matrices_small_dataset_*.txt

results_visualization/local_ipynb/petama
results_visualization/local_ipynb/Paper_plots2
results_visualization/Plot_tries
results_visualization/Plots
results_visualization/Paper_plots
results_visualization/Paper_plots2
results_visualization/New_plots
results_visualization/*_validation_vs_best_friend_APE.csv
results_visualization/*_validation_vs_friends_MAPE.csv
results_visualization/feats_friends.csv
results_visualization/feats_synthetic.csv
results_visualization/synthetic_benchmarks_all-devices_all.csv
results_visualization/synthetic_benchmarks_all-devices_best-of.csv
results_visualization/validation_friends_benchmarks_all-devices_all.csv
results_visualization/validation_friends_benchmarks_all-devices_best-of.csv
results_visualization/validation_friends_benchmarks_all-devices_top*.csv
results_visualization/validation_real_all-devices_best-of.csv
results_visualization/validation_real_benchmarks_all-devices_all.csv

validation_matrices/trash
validation_matrices/v2_dgal
validation_matrices/digital_twins
validation_matrices/features
validation_matrices/matrix_features/figures
validation_matrices/matrix_features/matrices
validation_matrices/dcomex
validation_matrices/images
validation_matrices/new_matrices/
validation_matrices/*.mtx
validation_matrices/matrix_features/old