CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*build/
*.o
*/cuSP/
*/CSR5/
build*/
.ipynb*
*__pycache__*/
*.err
*Plot_tries/
*cnpy/
*.exe
*.d

benchmark_code/CPU/AMD/*.csv
benchmark_code/CPU/ARM/*.csv
benchmark_code/CPU/ARM/spmv_code/*.csv
benchmark_code/CPU/ARM/spmv_code_merge/*.csv

benchmark_code/FPGA/HiSparse/
benchmark_code/FPGA/HPCG_FPGA
benchmark_code/FPGA/old_artificial_matrix_generation

benchmark_results/experimental/arm/arm_petama

matrix_generation_parameters/progress*
matrix_generation_parameters/*part*
matrix_generation_parameters/trash
matrix_generation_parameters/vulcanP100 
matrix_generation_parameters/synthetic_matrices_small_dataset_5*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_6*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_7*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_8*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_9*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_10*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_11*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_12*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_13*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_14*.txt
matrix_generation_parameters/synthetic_matrices_small_dataset_15*.txt

results_visualization/local_ipynb/petama
results_visualization/local_ipynb/Paper_plots2
results_visualization/Plot_tries
results_visualization/Paper_plots
results_visualization/Paper_plots2

validation_matrices/trash
validation_matrices/v2_dgal
validation_matrices/digital_twins
validation_matrices/features
validation_matrices/images
validation_matrices/*.mtx
