CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*build/
*.o
*/cuSP/
*/CSR5/
build*/
.ipynb*
*.err
*Plot_tries/
validation_matrices/
HiSparse/
*cnpy/
Pythonia/local_ipynb/petama
Pythonia/local_ipynb/Paper_plots2
matrix_generation_parameters/progress*
matrix_generation_parameters/*part*
Benchmarks/arm_petama
